html, body {
	min-height: 100%;
}

body {
	font-family: Georgia, serif;
	margin: 0;	
	font-size: 20px;
	font-style: italic;
	background: #fafafa;
}

p {
	line-height: 1.3em;
	margin: 0;
	margin-bottom: 1em;
	color: #181111;
}

p:before {
	font-style: normal;
	display: block;
	content: "\201C";
	font-size: 220px;
	position: absolute;
	left: -110px;
	top: 70px;
	color: #999;
}

small {
	font-size: 0.8em;
	color: #777;
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 140px;
	width: 400px;
	margin-top: -70px;
	margin-left: -200px;
	cursor: pointer;
}

